﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="contact-text row col-md-12 justify-content-center">
    <h3>Contacteaza-ne</h3>
</div>
<div class="jumbotron row justify-content-start">
    <div class="col-md-6 form-content" style="padding: 25px;">
        <form action="">
            <div class="form-group">
                <label for="name">Numele:</label>
                <input type="name" class="form-control" placeholder="Numele" id="name" required>
            </div>
            <div class="form-group">
                <label for="email">Email-ul de contact:</label>
                <input type="email" class="form-control" placeholder="Email" id="email" email>
            </div>
            <div class="form-group">
                <label for="phone">Numarul de telefon:</label>
                <input type="phone" class="form-control" placeholder="Telefon" id="phone" required>
            </div>
            <button type="submit" class="btn btn-primary">Trimite</button>
        </form>
    </div>
</div>