﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html lang="en">
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Forbidden</title>
</head>
<body>
    <div>
        <h2 style="text-align: center">Forbidden - 403</h2>
        <h4 style="text-align: center">You do not have enough rights to access this page</h4>
    </div>
</body>
</html>
