﻿<!-- Footer -->
<footer class="py-5 bg-dark">
    <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; 2021 Lîjeico Ilie</p>
        <p class="m-0 text-center text-white">skatervan@gmail.com</p>
    </div>
    <!-- /.container -->
</footer>