﻿@using BusinessLogic.Core;
@{
    var role = UserProperties.getRole();

    var userCartItems = UserProperties.getCart();
}

@{
    var cartCount = 0;
    if (ViewBag.CartItems != null)
    {
        cartCount = userCartItems.Count;
    }
}

@{
    if (role == "User")
    {
        <!-- Modal Show User Cart-->
        <div class="modal fade" id="cartModal" role="dialog">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header justify-content-center">
                        <h4 class="modal-title">Cosul meu</h4>
                    </div>
                    <div class="modal-body">
                        @{ 
                            float totalPrice = 0;
                            foreach (BusinessLogic.DBModel.CartModel.UserCartItem item in userCartItems)
                            {
                                totalPrice += item.Price.AsFloat();
                                <div class="card mb-3">
                                    <div class="row no-gutters">
                                        <div class="col-md-4">
                                            <img style="height:100%;" src="~/Content/Articles/images/@item.Image" class="card-img" alt="Cart Item Image">
                                        </div>
                                        <div class="col-md-8">
                                            <div class="card-body">
                                                <h5 class="card-title">@item.Title</h5>
                                                <p class="card-text">@item.Text</p>
                                                <p class="card-text"><small class="text-muted">Added to cart on: @item.Datetime</small></p>
                                                <p class="card-text"><big style="color:darkred;">$ @item.Price</big></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                        }
                    </div>
                    <div class="modal-footer justify-content-between">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <div class="row">
                            @{
                                if (totalPrice > 0)
                                {
                                    <span style="margin-right:3rem;align-self:center;color:darkred;font-size:x-large">Total: $@totalPrice</span>
                                }
                            }
                            <button type="submit" class="btn btn-primary" id="add-article" data-dismiss="modal">Achită</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
}

<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
        <a class="navbar-brand" href="@Url.Action("Index", "Home")">InfoTechnologies</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                @{
                    if (ViewBag.Role == "Admin")
                    {
                        <li class="nav-item @*active*@">
                            <a class="nav-link" href="@Url.Action("Index", "Admin")">Admin Panel</a>
                        </li>
                    }
                }
                <li class="nav-item @*active*@">
                    <a class="nav-link" href="javascript:void(0);">Rolul: @ViewBag.Role</a>
                </li>
                <li class="nav-item @*active*@">
                    <a class="nav-link" href="@Url.Action("Index", "Articles")">Articole</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="@Url.Action("Index", "ContactUs")">Contacteaza-ne</a>
                </li>
                @{
                    if (UserProperties.getUser() != null)
                    {
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="javascript:void(0);" role="button" aria-haspopup="true" aria-expanded="false">Profile</a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="javascript:void(0);">@UserProperties.getUser().LastName</a>
                                @if (role == "User")
                                {
                                    <a class="dropdown-item" href="javascript:void(0);" data-toggle="modal" data-target="#cartModal">Cart <span class="badge badge-success">@cartCount</span></a>
                                }
                                <a class="dropdown-item" href="@Url.Action("Index", "LogOut")">Log Out</a>
                            </div>
                        </li>
                    }
                    else
                    {
                        <li class="nav-item">
                            <a class="nav-link" href="@Url.Action("Index", "Login")">Log In</a>
                        </li>
                    }
                }
            </ul>
        </div>
    </div>
</nav>
