﻿@using System.Web.Optimization
<!DOCTYPE html>
<html lang="en">

<head>
    <title>Internet Magazin | @ViewBag.Title</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    @*<link rel="stylesheet" href="~/layouts/bootstrap4/css/bootstrap.min.css">*@
    <script src="~/layouts/jquery/jquery-3.4.1.min.js"></script>
    <script src="~/layouts/bootstrap4/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
            integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
            crossorigin="anonymous"></script>
    @*<link rel="stylesheet" type="text/css" href="~/layouts/css/style.css">*@
    <script src="~/layouts/js/nav-pages/main.js" type="text/javascript"></script>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900"
          rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">
    @Styles.Render("~/bundles/custom/css")
    @Styles.Render("~/bundles/bootstrap/css")
    @*<link rel="stylesheet" type="text/css" href="~/layouts/css/nav-pages/log-in.css">*@
</head>
<body>
    @Html.Partial("_Header")

    <!-- Page Content -->
    <div class="container">
        @RenderBody()
    </div>
    <!-- /.container -->

    @Html.Partial("_Footer")

    @RenderSection("scripts", required: false)
</body>
</html>