
/******/
/*search box css start here*/
.search-sec {
    background: #343A40;
    padding: 1rem;
    margin-top: 2rem;
    border-radius: 20px;
}
.search-slt{
    display: block;
    width: 100%;
    font-size: 0.875rem;
    line-height: 1.5;
    color: #55595c;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    height: calc(3rem + 2px) !important;
    border-radius:0;
}
.wrn-btn{
    width: 100%;
    font-size: 16px;
    font-weight: 400;
    text-transform: capitalize;
    height: calc(3rem + 2px) !important;
    border-radius:0;
}

.delete-article {
    float: right;
}

.add-new-articles {
    width: 25%;
    margin-left: 75%;
    margin-top: 2rem;
}

.search-bar {
    margin-right: 0px!important;
    margin-left: 0px!important;
}
