.jumbotron {
    background-color: white;
    padding: 2%;
    background-image: url('/Content/images/investor_relations_contacts_banner_en.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.contact-text {
    color: white;
    margin: 2rem 0 2rem 0;
}