﻿<!-- Footer -->
<footer class="sticky-footer bg-white">
    <div class="container my-auto">
        <div class="copyright text-center my-auto">
            <span>Copyright &copy; InfoTech 2019</span>
            <p>Ilie Lîjeico</p>
        </div>
    </div>
</footer>
<!-- End of Footer -->