﻿@using System.Web.Optimization
<!DOCTYPE html>
<html lang="en">

<head>
    <title>InfoTech - Admin Panel | @ViewBag.Title</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="~/layouts/jquery/jquery-3.4.1.min.js"></script>
    <script src="~/layouts/bootstrap4/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
            integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
            crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900"
          rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">
    <link rel="stylesheet" href="~/layouts/css/admin/sb-admin-2.min.css">
    <link href="~/layouts/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    @Styles.Render("~/bundles/bootstrap/css")
    @*<link rel="stylesheet" type="text/css" href="~/layouts/css/nav-pages/log-in.css">*@
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
</head>
<body>
<!-- Page Wrapper -->
    <div id="wrapper">
        @Html.Partial("Admin/_Header")

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            @RenderBody()

            @Html.Partial("Admin/_Footer")
            </div>
        </div>
        <!-- /.container -->

        @RenderSection("scripts", required: false)
</body>
</html>