.subheader {
    font-family: sans-serif;
    width: 100%;
    padding: 40px;
    margin: 2rem 0 2rem 0;
    border-radius: 20px;
    color: white;
    background-color: #1e1f21;
}

body {
    /*background-image: url('../../images/59-595359_2483x1552-pure-white-wallpaper-wallpapersafari-white-grey-blurred.jpg');*/
    background-image: url('../../Content/images/background/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 56px;
}

.slide-img {
    width: 1150px;
    height: 500px;
}

.card-img {
    height: 14rem !important;
}

#img-upload {
    max-height: 20rem;
}

.card {
    height: 100%;
}

