﻿@model IEnumerable<BusinessLogic.DBModel.ArticleModel.Article>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    int iterator = 0;
}

<!-- Modal Add New Article-->
<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
        <form method="post" id="add-article-form" enctype="multipart/form-data">
            @Html.AntiForgeryToken()
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header justify-content-center">
                    <h4 class="modal-title">Adaugare articol nou</h4>
                </div>
                <div class="modal-body">

                    <div class="form-group">
                        <label for="exampleInputEmail1">Titlul articolului</label>
                        <input name="Title" type="text" class="form-control" placeholder="Input you title here" required>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">Textul articolului</label>
                        <textarea name="Text" class="form-control" placeholder="Input your text here"></textarea>
                    </div>
                    <div class="form-group custom-file">
                        <input type="file" class="custom-file-input" name="Image" id="articleImage" accept=".jpeg,.png,.jpg">
                        <label class="custom-file-label" for="articleImage">Alege imaginea</label>
                    </div>
                    <div class="form-group" style="margin-top:1rem;">
                        <div class="input-group">
                            <label for="Price"></label>
                            <input id="Price" name="Price" class="form-control" placeholder="99.99">
                            <div class="input-group-append">
                                <span class="input-group-text"> <i class="fas fa-dollar-sign"></i> </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer justify-content-between">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary" id="add-article" data-dismiss="modal">Add article</button>
                </div>
            </div>
        </form>
    </div>
</div>

<!-- Modal Edit Article-->
<div class="modal fade" id="editModal" role="dialog">
    <div class="modal-dialog">
        <form action="@Url.Action("Edit", "Articles")" method="post" id="edit-article-form" enctype="multipart/form-data">
            @Html.AntiForgeryToken()
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header justify-content-center">
                    <h4 class="modal-title">Editare articol</h4>
                </div>
                <div class="modal-body">
                    <input name="ID" type="hidden" value="" />
                    <div class="form-group">
                        <label for="exampleInputEmail1">Titlul articolului</label>
                        <input name="Title" type="text" class="form-control" placeholder="Input you title here" required>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">Textul articolului</label>
                        <textarea name="Text" class="form-control" placeholder="Input your text here"></textarea>
                    </div>
                    <div class="form-group" style="margin-top:1rem;">
                        <div class="input-group">
                            <label for="Price"></label>
                            <input id="Price" name="Price" class="form-control" placeholder="99.99">
                            <div class="input-group-append">
                                <span class="input-group-text"> <i class="fas fa-dollar-sign"></i> </span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group custom-file">
                        <input type="file" class="custom-file-input" name="Image" id="articleImageEdit" accept=".jpeg,.png,.jpg">
                        <label class="custom-file-label" for="articleImage">Alege imaginea (optional)</label>
                    </div>
                    <div class="form-group">
                        <label></label>
                        <img id='img-upload' style="width:100%;" />
                    </div>
                </div>
                <div class="modal-footer justify-content-between">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary" id="edit-article" data-dismiss="modal">Edit article</button>
                </div>
            </div>
        </form>
    </div>
</div>

<section class="search-sec">
    <form action="#" method="post" novalidate="novalidate">
        <div class="row search-bar">
            <div class="col-lg-12">
                <div class="row justify-content-between">
                    <div class="col-lg-3 col-md-3 col-sm-12 p-0">
                        <!-- Actual search box -->
                        <div class="form-group has-search" style="margin-bottom: 0">
                            @*<span class="fa fa-search form-control-feedback"></span>*@
                            <input type="text" class="form-control search-slt" name="search" placeholder="Search">
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-3 col-sm-12 p-0">
                        <select class="form-control search-slt" id="exampleFormControlSelect1" name="type">
                            <option>Tipul produsului</option>
                            <option>Laptop</option>
                            <option value="12">Tableta</option>
                            <option>Smartphone</option>
                            <option>Example one</option>
                            <option>Example one</option>
                            <option>Example one</option>
                        </select>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-12 p-0">
                        <button type="submit" class="btn btn-primary wrn-btn">Search</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</section>

@{
    if (ViewBag.Role == "Admin")
    {
        <div class="col-lg-12 col-md-12 col-sm-12">
            <button type="button" class="btn btn-primary wrn-btn add-new-articles" data-toggle="modal" data-target="#myModal">+ Adauga articol</button>
        </div>
    }
}

<div class="wrapper">
    <div class="row" style="padding: 30px">
        <div class="row row-cols-1 row-cols-md-3" style="width: 100%;">
            @foreach (BusinessLogic.DBModel.ArticleModel.Article article in Model)
            {
                <div class="col mb-4">
                    <div class="card" data-articleid="@article.ID">
                        <img class="card-img-top"
                             src="~/Content/Articles/images/@article.Image"
                             alt="Card image" style="height: 16rem">
                        <div class="card-body">
                            <h4 class="card-title">@article.Title</h4>
                            <p class="card-text">
                                @{
                                    string articleText = article.Text;
                                    if (articleText.Length > 102)
                                    {
                                        articleText = articleText.Substring(0, 102) + " . . .";
                                    }

                                    @(articleText)
                                }
                            </p>
                            <div class="article-actions">
                                <a href="javascript:void(0);" class="btn btn-primary price" style="width:50%;">Vezi detalii</a>
                                <a href="javascript:void(0);" style="display:none;" data-price="@article.Price" class="btn btn-primary price-value">@article.Price $</a>
                                @{
                                    if (ViewBag.Role == "Admin")
                                    {
                                        <a href="javascript:void(0);" data-toggle="modal" data-target="#editModal" class="btn btn-success edit-article" style="float:right;">Edit</a>
                                        <a href="@Url.Action("Delete", "Articles", new RouteValueDictionary(new { id = article.ID }))" style="margin-right:0.3rem;" class="btn btn-danger delete-article">Sterge</a>
                                    }
                                    else if (ViewBag.Role == "User")
                                    {
                                        <a href="@Url.Action("AddCart", "Articles", new RouteValueDictionary(new { id = article.ID }))" class="btn btn-success delete-article">Add to cart</a>
                                    }
                                }
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

@if (ViewBag.Action == "deleted")
{
    <script>alert("Articolul a fost sters cu success");</script>
}

<script src="~/layouts/js/nav-pages/articles.js" type="text/javascript"></script>
<script type="text/javascript" src="~/layouts/js/custom-input-js/custom-input-file.js"></script>