﻿@model BusinessLogic.DBModel.user

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    var status = ViewBag.Status;
    var message = ViewBag.Message;
}

    <div class="row justify-content-center register-form">
        <div class="col-md-6">
            <div class="card">
                <header class="card-header">
                    <a href="@Url.Action("Index", "Login")" class="float-right btn btn-outline-primary mt-1">Log in</a>
                    <h4 class="card-title mt-2">Sign up</h4>
                </header>
                <article class="card-body">
                    <div>
                        @{
                            if (message != "")
                            {
                                if (status == true)
                                {
                                    <p class="text-success text-center">@message</p>
                                }
                                else
                                {
                                    <p class="text-danger text-center">@message</p>
                                }

                            }
                        }
                    </div>
                    <form method="post" action="/registration/index">
                        @Html.AntiForgeryToken()
                        <div class="form-row">
                            <div class="col form-group">
                                <label>First name </label>
                                <input name="firstName" type="text" class="form-control" placeholder="">
                            </div> <!-- form-group end.// -->
                            <div class="col form-group">
                                <label>Last name</label>
                                <input name="lastName" type="text" class="form-control" placeholder=" ">
                            </div> <!-- form-group end.// -->
                        </div> <!-- form-row end.// -->
                        <div class="form-group">
                            <label for="email">Email address</label>
                            <input id="email" name="email" type="email" class="form-control" placeholder="">
                            <small class="form-text text-muted">We'll never share your email with anyone else.</small>
                        </div> <!-- form-group end.// -->
                        @*<div class="form-group">
                            <label class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="gender" value="option1">
                                <span class="form-check-label"> Male </span>
                            </label>
                            <label class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="gender" value="option2">
                                <span class="form-check-label"> Female</span>
                            </label>
                        </div> <!-- form-group end.// -->*@
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label>City</label>
                                <input name="city" type="text" class="form-control">
                            </div> <!-- form-group end.// -->
                            <div class="form-group col-md-6">
                                <label for="inputState">Country</label>
                                <select name="country" id="inputState" class="form-control">
                                    <option value="" selected=""> Choose...</option>
                                    <option value="Uzbekistan">Uzbekistan</option>
                                    <option value="Russia">Russia</option>
                                    <option value="United States">United States</option>
                                    <option value="India">India</option>
                                    <option value="Afganistan">Afganistan</option>
                                    <option value="Moldova">Moldova</option>
                                </select>
                            </div> <!-- form-group end.// -->
                        </div> <!-- form-row.// -->
                        <div class="form-group">
                            <label for="password">Create password</label>
                            <input id="password" name="password" class="form-control" type="password">
                        </div> <!-- form-group end.// -->
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary btn-block"> Register</button>
                        </div> <!-- form-group// -->
                        <small class="text-muted">
                            By clicking the 'Sign Up' button, you confirm that you accept our <br>
                            Terms of use and Privacy Policy.
                        </small>
                    </form>
                </article> <!-- card-body end .// -->
                <div class="border-top card-body text-center">Have an account? <a href="@Url.Action("Index", "Login")">Log In</a></div>
            </div> <!-- card.// -->
        </div> <!-- col.//-->

    </div> <!-- row.//-->
