﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Home";

    List<BusinessLogic.DBModel.ArticleModel.Article> articles = new List<BusinessLogic.DBModel.ArticleModel.Article>();
    if (ViewBag.articles != null)
    {
        articles = ViewBag.articles;
    }
}
@using System.Web.Optimization


<div class="row justify-content-center" style="padding: 30px">
    <!-- carousel -->
    <div class="row carousel-main">
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img class="d-block slide-img"
                         src="~/Content/images/gallery-laptop-4.jpg"
                         alt="First slide">
                </div>
                <div class="carousel-item">
                    <img class="d-block slide-img"
                         src="~/Content/images/120-1209111_amd-ryzen-2700x.jpg.png"
                         alt="Second slide">
                </div>
                <div class="carousel-item">
                    <img class="d-block slide-img"
                            src="~/Content/images/HyperX.png"
                            alt="Third slide">
                </div>
                <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
    </div>

    <div class="row subheader justify-content-center">
        <h1 class="m-0 text-center text-white">Cele mai recente produse</h1>
    </div>

    <div class="wrapper" style="width:100%">
        <div class="row row-cols-1 row-cols-md-3">
            @{
                foreach (BusinessLogic.DBModel.ArticleModel.Article article in articles)
                {
                    <div class="col mb-4">
                        <div class="card">
                            <img class="card-img-top"
                                 src="~/Content/Articles/images/@article.Image"
                                 alt="Card image" style="height: 220px">
                            <div class="card-body">
                                <h4 class="card-title">@article.Title</h4>
                                <p class="card-text">
                                    @{
                                        string articleText = article.Text;
                                        if (articleText.Length > 102)
                                        {
                                            articleText = articleText.Substring(0, 102) + " . . .";
                                        }

                                        @(articleText)
                                    }
                                </p>
                                <a href="javascript:void(0);" class="btn btn-primary price" style="width:50%;">Vezi detalii</a>
                                <a href="javascript:void(0);" style="display:none;" class="btn btn-primary price-value">@article.Price $</a>
                                @{
                                    if (ViewBag.Role == "Admin")
                                    {
                                        <a href="@Url.Action("Delete", "Articles", new RouteValueDictionary(new { id = article.ID }))" class="btn btn-danger delete-article">Sterge</a>
                                    }
                                    else if (ViewBag.Role == "User")
                                    {
                                        <a href="@Url.Action("AddCart", "Articles", new RouteValueDictionary(new { id = article.ID }))" class="btn btn-success delete-article">Add to cart</a>
                                    }
                                }
                            </div>
                        </div>
                    </div>
                }
            }   
        </div>
    </div>
</div>