﻿
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var message = ViewBag.Message;
}

@using System.Web.Optimization

<div class="login-form card col-sm-4">
    <article class="card-body">
        <h4 class="card-title text-center mb-4 mt-1">Sign in</h4>
        <hr>
        @{
            if (message != "")
            {
                <p class="text-danger text-center">@message</p>
            }
        }

        <form method="post" action="/login/index">
            @Html.AntiForgeryToken()
            <div class="form-group">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"> <i class="fa fa-user"></i> </span>
                    </div>
                    <input name="Email" class="form-control" placeholder="Email or login" type="email" required>
                </div> <!-- input-group.// -->
            </div> <!-- form-group// -->
            <div class="form-group">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
                    </div>
                    <input name="Password" class="form-control" placeholder="******" type="password">
                </div> <!-- input-group.// -->
            </div> <!-- form-group// -->
            <div class="form-group">
                <button type="submit" class="btn btn-primary btn-block"> Login </button>
            </div> <!-- form-group// -->
            <p class="text-center"><a href="@Url.Action("Index", "PassRecover")">Forgot password?</a></p>
            <p class="text-center">Already have an account? <a href="@Url.Action("Index", "Registration")">Sign up</a></p>
        </form>
    </article>
</div> <!-- card.// -->